.address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    min-width: 240px;
    line-height: 1.37;
    font-style: normal;
    letter-spacing: 0.005px;
    text-underline-offset: 3.75px;
}

.header {
    position: relative;
    margin:92px 50px;
    display: grid;
    grid-template-columns: 1fr 136px 1fr;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__links-list {
    display: flex;
    gap:31.1px;
    stroke-width: 1;
    text-underline-offset: 4.3px;
}

.header__links-list-item {
    list-style: circle;  
}

.header__links-list-item_no-bullit {
    list-style:none;
}

.link {
    letter-spacing: 0.01em;
}

.link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
}

.mail {
    letter-spacing: 0.12px;
}

.cover {
    position:relative;
    display: flex;
    flex-direction: column;
    padding:165px 50px 50px;
    background-image: url("../images/cover.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.overlay {
    position:absolute;
    inset: 0;
    background-color: #000;
    opacity: 0.6;
}

.cover__title {
    margin-bottom: 135px;
    color: #fff;
    font-weight: 700;
    font-size: 100px;
    line-height: 115%;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    z-index: 1; 
}

.aligned-text {
    display: block;
    line-height: 1;
    margin-top: 20px;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: end;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.no-letter-spacing {
    letter-spacing: 0;
}

.cover__description {
    display: flex;
    justify-content: flex-end;
    gap: 78px;
    z-index: 1;
    align-items: center;
}

.cover__description-text {
    font-size: 22px;
    line-height: 127%;
    text-transform: uppercase;
    color: #fff;
    word-spacing:0.8em;
}

.word-spacing_long {
    word-spacing:1.1em;
}

.word-spacing_medium {
    word-spacing:0.9em;
}

.bet-button {
    padding: 12px 32px;
    color: #fff;
    border: 1px solid currentColor;
    background-color: transparent;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
}

.lots {
    position:relative;
    display: flex;
    flex-direction: column;
    margin:178px 24px 0;
    border: 1px solid #000; 
}

.lots__heading {
    display: flex;
    margin-left: 40px;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}

.lots__card-list {
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap: wrap;
}

.lots__card-list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 334px;
    flex-basis:333px;
    min-height: 563px;
    flex-grow: 1;
    list-style: none;  
    z-index: 1;
    color: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 40px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 565px;  
}

.card_type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline;   
    z-index: 1;
}

.card__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    z-index: 1;
}

.lots__look-more-link {
    margin: 28px 0 0 40px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.about {
    position: relative;
    display: grid;
    grid-template-columns: 334px 1fr;
    grid-template-rows: auto 1fr;
    gap: 8px 25px;
    margin: 181px 25px 0;
}

.about__logo {
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    width: 240px;
    height: 240px;
    margin: auto;
    background-color: #000;
    border-radius: 50%;
}

.about__logo-image {
    position: static;
    display: flex;
    width:61%;
    margin: auto;
}

.about__title {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    color: #000;
}

.about__text {
    grid-column: 2/3;
    grid-row: 2/3;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #000;
}

.text-rubric {
    margin-bottom: 24px;
}

.text-paragraph {
    line-height:24px;
}

.letter-spacing_minus {
    letter-spacing:-0.01em;
}

.letter-spacing_normal {
    letter-spacing:normal;
}

.letter-spacing_double {
    letter-spacing:0.02em;
}

.letter-spacing_triple {
    letter-spacing:0.03em;
}

.letter-spacing_quadruple {
    letter-spacing:0.04em;
}

.footer {
    margin: 180px 0 88px;
    position: relative;
    padding:0 50px;
    display: grid;
    grid-template-columns: 1fr 160px 1fr;
    align-items:flex-start;
    font-weight: 400;
    font-size: 18px;
}

.address_left {
    justify-self:left;
}

.footer__menu {
    display: block;
    flex-direction: column;
}

.footer__menu-list {
    display: block;
    stroke-width: 1;
    text-underline-offset: 4.3px;
    flex-wrap: nowrap;
    list-style:none;
    text-align: center;
}

.footer__social-list {
    display: flex;
    flex-direction: row;
    justify-self:end;
    justify-content: space-between;
    min-width: 240px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}